
*{
    font-family: 'Lora', serif;
}
/* #homepage{
    width: 100%; 
    overflow: hidden;
    padding-top: 3%;
} */


footer {
    background-color: #080818;
    box-sizing: border-box;
    color: wheat;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}
*{
    background-color:red;
}
