{%extends 'base.html'%}
{% block content %}
{{block.super}}
<div id="homepage">
    <div id="overlay" class="row">

        <div class="introduction">
            <h1 class="text-center">Welcome To Projects-Awwards</h1>
            <hr>
            <p id="about" class="text-center" style="font-size:20px;font-weight:bold;">Projects</p>
        </div>



        <div>
            <footer class="page-footer">
                <div style=" font-size:12pt;">
                    <div class="footer-copyright py-3" style="padding-left: 42%;">&#169;Copyright 2021: Benjamin
                        Kipkorir
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

{%endblock%}