{%extends 'base.html'%}
{% block content %}
{{block.super}}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        *{
            font-family: 'Lora', serif;

        }
        .introduction{
            padding-bottom: 28%;
        }
    </style>
</head>
<body>
    

<div id="homepage">
    <div id="overlay" class="row">

        <div class="introduction">
            <h1 class="text-center">Welcome To Projects-Awwards</h1>
            <hr>
            <p id="about" class="text-center" style="font-size:20px;font-weight:bold;">Projects</p>
        </div>

    
        <div class="footer">
            <footer class="page-footer">
                <div style=" font-size:12pt;">
                    <div class="footer-copyright py-3" style="padding-left: 42%;background-color:#050530;padding:20px;text-align:center;color:wheat">&#169;Copyright 2021: Benjamin
                        Kipkorir
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

{%endblock%}

</body>
</html>