{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}
{% block content %}
{{block.super}}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        *{
            font-family: 'Lora', serif;
        }
        html{
            overflow: hidden;
        }
        
    </style>

<div class="container" style="margin-top:40px;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <form action="{%url 'post_proj'%}" method="POST" enctype="multipart/form-data">
                {%csrf_token%}

                {% bootstrap_form form %}
                <input type="submit" class="btn btn-primary btn-block" value="Post" style="margin-bottom:10%">
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{%endblock%}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>

{% bootstrap_javascript %} {% endblock %}